body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  font-family: "Outfit", sans-serif;
}

main {
  height: auto;
  width: 90%;
  max-width: 320px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.067);
  line-height: 1.2;
}

#upper {
  background-image: url("./images/image-qr-code.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15px;
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

#upperText {
  font-size: 22px;
  font-weight: 700;
  margin-inline: 15px;
  color: hsl(218, 44%, 22%);
}

#lowerText {
  font-size: 15px;
  font-weight: 400;
  margin-inline: 30px;
  color: hsl(216, 15%, 48%);
  padding-bottom: 22px;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
