@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #F2F5F9;
        font-family: 'Outfit', sans-serif;
      }

      body {
        height: 100vh;
        background-image: url(./resources/qa-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
      }

      footer{
        display: flex;
        position: fixed;
        bottom: 1em;
        justify-content: center;
      }

      .before{
        display: flex;
        flex-direction: column;
      }

      input{
        height: 3.5em;
        font-size: 1.5em;
        width: 28em;
        border-radius: 1em;
        border: .1em solid #263FA9;
        background-color: #030616;
        padding-left: 1em;
        outline: none;
      }

      button{
        height: 2.8em;
        font-size: 1.5em;
        width: 8em;
        border-radius: .75em;
        background-color: #263FA9;
        border: none;
        position: relative;
        bottom: 3.15em;
        left: 19.7em;
        cursor: pointer;
      }

      button:hover{
        background-color: #1b37b5;
      }

      input::placeholder{
        color: #F2F5F9;
      }

      .after button{
        position: unset;
      }

      .after{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
      }

      .qrcode{
        height: 250px;
        width: 250px;
        background-color: #1b37b5;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .buttonDiv{
        display: flex;
        gap: 2em;
      }
      

      .author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
      }

      .author-info a {
        text-decoration: none;
      }